{% extends "_layouts/base.twig" %}

{# current section (single entry used by navigation(s) to show the current item) #}
{% set currentSection = craft.entries()
  .section("aboutPage")
  .one() %}

{% block content %}
  <div class="c-pagesection  c-pagesection--brand">
    <div class="l-container">
      {% set formattedTitle = entry.commonBigtitle|replace({ "{{{": "<span>", "}}}": "</span>" }) %}
      <h1 class="c-pagetitle">{{ formattedTitle|raw }}</h1>
    </div>
  </div>
  <div class="c-pagesection">
    <div class="l-container">

      <div class="l-split">
        <h2 class="c-smalltitle">{{ entry.aboutCrewTitle }}</h2>
        <div>
          <p class="c-intro">{{ entry.aboutCrewIntro }}</p>
        </div>
      </div>

      <p>Crew membres go here</p>

    </div>
  </div>
  <div class="c-pagesection">
    <div class="l-container">

      <div class="l-split">
        <h2 class="c-smalltitle">{{ entry.aboutValuesTitle }}</h2>
        <div>
          <p class="c-intro">{{ entry.aboutValuesIntro }}</p>
          <p>Values go here</p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}