{% extends "_layouts/base.twig" %}

{# current section (single entry used by navigation(s) to show the current item) #}
{% set currentSection = craft.entries()
  .section("aboutPage")
  .one() %}

{% block content %}
  <div class="c-pagesection  c-pagesection--brand">
    <div class="l-container">
      {% set formattedTitle = entry.commonBigtitle|replace({ "{{{": "<span>", "}}}": "</span>" }) %}
      <h1 class="c-pagetitle">{{ formattedTitle|raw }}</h1>
    </div>
  </div>
  <div class="c-pagesection">
    <div class="l-container">

      <div class="l-split">
        <h2 class="c-smalltitle">{{ entry.aboutCrewTitle }}</h2>
        <div>
          <p class="c-intro">{{ entry.aboutCrewIntro }}</p>
        </div>
      </div>

      {% set allCrew = craft.entries()
        .section("crew")
        .orderBy("crewFamilyName ASC")
        .all()%}
      {% for item in allCrew %}
        {% if loop.first %}<ul class="l-grid  l-grid--2cols@small  l-grid--3cols@large">{% endif %}
          
          {{include("_components/crew-member.twig", {
            crew: item 
          }, with_context: false)}}     

        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

    </div>
  </div>
  <div class="c-pagesection">
    <div class="l-container">

      <div class="l-split">
        <h2 class="c-smalltitle">{{ entry.aboutValuesTitle }}</h2>
        <div>
          <p class="c-intro">{{ entry.aboutValuesIntro }}</p>
          {% set values = entry.mxAboutValues.all()%}
          {% for item in values %}
            {% if loop.first %}<ul class="l-grid  l-grid--auto">{% endif %}
              <li>
                <div class="c-value">
                  <h3 class="c-value__title">{{item.mxValueTitle}}</h3>
                  <p class="c-value__text">{{item.mxValueDescription}}</p>
                </div>
              </li>
            {% if loop.last %}</ul>{% endif %}
            
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
{% endblock %}