
{% extends "_layouts/base.twig" %}

{# current section (single entry used by navigation(s) to show the current item) #}
{% set currentSection = craft.entries()
  .section("projectsPage")
  .one() %}

{% block content %}
    {% set projectBanner = entry.projectImage.one() %}
    
    <div class="c-banner">
        <img src="{{ projectBanner.geturl({ width: 800, height: 450 }) }}"
             srcset="{{ projectBanner.geturl({ width: 800, height: 450 }) }} 800w,
                     {{ projectBanner.geturl({ width: 1024, height: 576  }) }} 1024w,
                     {{ projectBanner.geturl({ width: 1500, height: 844 }) }} 1500w,"
             sizes="100vw"
             loading="lazy"
             decoding="async"
             width="1500"
             height="844"
             alt="{{ projectBanner.alt }}">
    </div>

    <div class="c-pagesection">
            {#
            Craft fait du routing (une de ses fonctions principales)
            - Il regarde la structure de l'URL quand ce template est chargé
            - Il sait que c'est une URL de détail d'entry (on lui a dit quand on a créé la section)
            - Comme il est gentil, il nous créée automatiquement une variable 'entry' qui est ... un gros objet
                - Cet objet entry à comme keys les handle des champs.
                - Youpieee !
            #}
            
            <div class="c-casemodule">
                <div class="l-container l-container--copy">
                    <h1 class="c-h1 u-mbe-xs">{{ entry.title }}</h1>
                    <p class="c-subtitle">{{ entry.projectSubtitle }}</p>
                    <p class="c-lead">{{ entry.commonIntro }}</p>
                </div>
            </div>

            {{ include("_matrix/project-body.twig", {
                matrixBlocks: entry.projectBody.all()
            }, with_context: false) }}

        </div>
    </div>

{% endblock %}