{# template to extend (replace any block by block defined in this file) #}
{% extends "_layouts/base.twig" %}

{# content of the page > goes in content block of extended template (base.twig) #}
{% block content %}
  {#
    Craft fait du routing (une de ses fonctions principales)
    - Il regarde la structure de l'URL quand ce template est chargé
    - Il sait que c'est une URL de détail d'entry (on lui a dit quand on a créé la section)
    - Comme il est gentil, il nous créée automatiquement une variable 'entry' qui est ... un gros objet
        - Cet objet entry à comme keys les handle des champs.
        - Youpieee !
    #}
  <div class="c-pagesection  c-pagesection--brand">
    <div class="l-container">
      <h1 class="c-pagetitle">{{ entry.commonBigtitle }}</h1>
      <div class="c-homeintro">
        <p>{{ entry.commonIntro }}</p>
        <p><a class="c-ctalink  c-ctalink--invert" href="/projects/">
          Our projects 
          {{ include("_svg/arrow.svg") }}
        </a></p>
      </div>
    </div>
  </div>
  <div class="c-banner">
    {% set pageBanner = entry.commonBannerImage.one() %}
    {% if pageBanner %}
    <img src="{{ pageBanner.geturl({ width: 800, height: 450 }) }}"
          srcset="{{ pageBanner.geturl({ width: 800, height: 450 }) }} 800w,
                  {{ pageBanner.geturl({ width: 1024, height: 576  }) }} 1024w,
                  {{ pageBanner.geturl({ width: 1500, height: 844 }) }} 1500w,"
          sizes="100vw"
          loading="lazy"
          decoding="async"
          width="1500"
          height="844"
          alt="{{ pageBanner.alt }}">
    {% endif %}
  </div>
  <div class="c-pagesection">
    <div class="l-container">

        <div class="l-split">
          <h2 class="c-smalltitle">What we do</h2>
          <div>

            <p class="c-intro">You know your business and clients, we know a thing or two about the web. Let's do this together!</p>

            <ul class="c-vlist  c-vlist--m">
              <li>
                <article class="c-service">
                  <h3 class="c-service__title">Discovery and planning</h3>
                  <p class="c-service__text">Lorem <a href="fake.html">ipsum dolor sit amet</a> consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
                </article>
              </li>
              <li>
                <article class="c-service">
                  <h3 class="c-service__title">Design and prototypes</h3>
                  <p class="c-service__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
                </article>
              </li>
              <li>
                <article class="c-service">
                  <h3 class="c-service__title">Code and interactivity</h3>
                  <p class="c-service__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
                </article>
              </li>
              <li>
                <article class="c-service">
                  <h3 class="c-service__title">Ongoing support</h3>
                  <p class="c-service__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
                </article>
              </li>
            </ul>

          </div>
        </div>

    </div>
  </div>
  <div class="c-pagesection">
    <div class="l-container">

      <div class="l-split">
        <h2 class="c-smalltitle">Latest projects</h2>
        <div>
          <p class="c-intro">A small selection of projects we have been working on lately.</p>
        </div>
      </div>

      {#  
        - element query: craft, choppe moi les elements de type entries 
            - qui sont dans la section projets
        - exécution de la query
            - ".one()" renvoie un objet avec comme keys les handle des champs (assignés à l'entry dans le entry type)
            - ".all()" renvoie un tableau d'objets avec comme key les handle des champs
            - ".count()" renvoie le nomre d'entries trouvées
            - ".ids()" renvoie un tableau des ids numérique des entries dans la DB de craft
            - ".exists()" renvoie true ou false
      #}
      {% set allProjects = craft.entries()
          .section("projects")
          .all() %}

      {% for item in allProjects %}
          {% if loop.first %}<ul class="l-grid  l-grid--2cols@small  l-grid--4cols@large  u-mbe-xl">{% endif %}

          {# 
            projectImage is an assets fields
            - relatinal fields (assets, entries, users) always retur n an array of objects
              - each key of these objects corresponds to the handle of a field defined in the field layout / entry type
            - we use the `one()` method to only return the first (and only in this case) related item / asset
          #}
          {% set img = item.projectImage.one() %}

          <li>
              <article class="c-projectcard">
                <a class="c-projectcard__link" href="{{ item.url }}/">
                  <div class="c-projectcard__media">
                    {% if img %}
                      <img src="{{ img.getUrl({ width: 450, height: 600 }) }}"
                           srcset="{{ img.getUrl({ width: 450, height: 600 }) }} 450w,
                                    {{ img.getUrl({ width: 600, height: 800 }) }} 600w"
                           sizes="(min-width: 1500px) 345px,
                                  (min-width: 1024px) 25vw
                                  (min-width: 500px) 50vw,
                                  100vw"
                           class="o-fluidimg"
                           width="600"
                           height="800"
                           alt="">
                    {% endif %}
                  </div>
                  <div class="c-projectcard__body">
                    <h3 class="c-projectcard__title">{{ item.title }}</h3>
                    <p class="c-projectcard__tagline">{{ item.projectSubtitle }}</p>
                  </div>
                </a>
              </article>
          </li>

          {% if loop.last %}</ul>{% endif %}

      {% endfor %}

      <p><a class="c-ctalink" href="/projects/">
        More projects 
        {{ include("_svg/arrow.svg") }}
      </a></p>
    </div>
  </div>
{% endblock %}