{# template to extend (replace any block by block defined in this file) #}
{% extends "_layouts/base.twig" %}

{# get the porjectPage (single) entry (we need the URL in two places for links) #}
{% set projectPage = craft.entries()
  .section("projectsPage")
  .one() %}

{# current section (single entry used by navigation(s) to show the current item) #}
{% set currentSection = craft.entries()
  .section("homePage")
  .one() %}

{# content of the page > goes in content block of extended template (base.twig) #}
{% block content %}
  {#
    Craft fait du routing (une de ses fonctions principales)
    - Il regarde la structure de l'URL quand ce template est chargé
    - Il sait que c'est une URL de détail d'entry (on lui a dit quand on a créé la section)
    - Comme il est gentil, il nous créée automatiquement une variable 'entry' qui est ... un gros objet
        - Cet objet entry à comme keys les handle des champs.
        - Youpieee !
    #}
  <div class="c-pagesection  c-pagesection--brand">
    <div class="l-container">
      {% set formattedTitle = entry.commonBigtitle|replace({ "{{{": "<span>", "}}}": "</span>" }) %}
      <h1 class="c-pagetitle">{{ formattedTitle|raw }}</h1>
      <div class="c-homeintro">
        <p>{{ entry.commonIntro }}</p>
        <p>
          <a class="c-ctalink  c-ctalink--invert" href="{{ projectPage.url }}">
            Our projects 
            {{ include("_svg/arrow.svg") }}
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="c-banner">
    {# 
      - assets is a relational fields that always returns an array of objects (even if there is only one element like here). 
      - To get the first / one and only asset, we use the .one() method. 
    #}
    {% set pageBanner = entry.commonBannerImage.one() %}
    {% if pageBanner %}
    <img src="{{ pageBanner.geturl({ width: 800, height: 450 }) }}"
         srcset="{{ pageBanner.geturl({ width: 800, height: 450 }) }} 800w,
                 {{ pageBanner.geturl({ width: 1024, height: 576  }) }} 1024w,
                 {{ pageBanner.geturl({ width: 1500, height: 844 }) }} 1500w,"
         sizes="100vw"
         loading="lazy"
         decoding="async"
         width="1500"
         height="844"
         alt="{{ pageBanner.alt }}">
    {% endif %}
  </div>
  <div class="c-pagesection">
    <div class="l-container">

        <div class="l-split">
          <h2 class="c-smalltitle">{{entry.homepageWedoTitle}}</h2>
          <div>

            <p class="c-intro">{{entry.homepageWedoIntro}}</p>

            {# get all activities (matrix field) #}
            {% set activities = entry.homepageWedoActivites.all() %}

            {# display activities #}
            {% for item in activities %}
              {% if loop.first %}<ul class="c-vlist  c-vlist--m">{% endif %}
                <li>
                  <article class="c-service">
                    <h3 class="c-service__title">{{ item.mxActivityTitle }}</h3>
                    <p class="c-service__text">{{ item.mxActivityText }}</p>
                  </article>
                </li>
              {% if loop.last %}</ul>{% endif %}
            {% endfor %}

          </div>
        </div>

    </div>
  </div>
  <div class="c-pagesection">
    <div class="l-container">

      <div class="l-split">
        <h2 class="c-smalltitle">{{entry.homepageProjectsTitle}}</h2>
        <div>
          <p class="c-intro">{{entry.homepageProjectsIntro}}</p>
        </div>
      </div>

      {#  
        - element query: craft, choppe moi les elements de type entries 
            - qui sont dans la section projets
        - exécution de la query
            - ".one()" renvoie un objet avec comme keys les handle des champs (assignés à l'entry dans le entry type)
            - ".all()" renvoie un tableau d'objets avec comme key les handle des champs
            - ".count()" renvoie le nomre d'entries trouvées
            - ".ids()" renvoie un tableau des ids numérique des entries dans la DB de craft
            - ".exists()" renvoie true ou false
      #}
      {% set allProjects = craft.entries()
          .section("projects")
          .orderBy("postDate DESC")
          .limit(4)
          .all() %}

      {% for item in allProjects %}
          {% if loop.first %}<ul class="l-grid  l-grid--2cols@small  l-grid--4cols@large  u-mbe-xl">{% endif %}

          <li>
              {# 
                - we include the project card component
                - we pass it an entry variable in which we store the "item" variable passed by the loop
                - with_context: false isolate the include completely from the global twig context
                  - in other words: the only variables available to that include is the ones we pass it
              #}
              {{ include("_components/projectcard.twig", {
                project: item
              }, with_context: false ) }}

          </li>

          {% if loop.last %}</ul>{% endif %}

      {% endfor %}

      <p>
        <a class="c-ctalink" href="{{ projectPage.url }}">
          More projects 
          {{ include("_svg/arrow.svg") }}
        </a>
      </p>
    </div>
  </div>
{% endblock %}